<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRF Auth Example</title>
    <link rel="icon" type="image/webp" href="static/icon.webp">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link href="static/daisy.css" rel="stylesheet">
    <!-- Include Alpine.js -->
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body x-data="loginComponent()" class="h-screen bg-base-300 flex items-center justify-center">
    <div  class="container p-8 rounded-lg max-w-fit bg-base-100">
        <div id="loginForm" x-show="!isLoggedIn">
            <h2 class="text-xl font-bold mb-4">Login</h2>
            <input type="text" x-model="username" placeholder="Username" class="input input-bordered w-full mb-4"/>
            <input type="password" x-model="password" placeholder="Password" class="input input-bordered w-full mb-4"/>
            <button x-on:click="login()" class="btn btn-primary w-full">Login</button>
        </div>

        <div class="overflow-x-auto" x-bind:class="{'hidden': !isLoggedIn}">
            <table class="table">
                <!-- head -->
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Template</th>
                        <th x-show="users">User</th>
                        <th>Pubkey</th>
                        <th>State</th>
                        <th>Errors</th>
                        <th>Ports</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <template x-for="(node, i) in nodes" :key="node.id">
                        <tr>
                            <th x-text="node.name">Name</th>
                            <td x-text="templates.find(template => template.id === node.template)?.name || 'Not Found'">Template</td>
                            <td x-show="users" x-text="users.find(user => user.id === node.owner)?.username || 'Not Found'">User</td>
                            <td>
                                <input x-model="node.pubkey" type="checkbox" class="checkbox" disabled />
                            </td>

                            <td x-text="node.state">State</td>
                            <td x-text="node.error_logs">Errors</td>
                            <td>
                                <template x-for="port in node.ports" :key="port.entry_port">
                                    <p x-text="port.entry_port">Ports</p>
                                </template>
                            </td>
                            <td>
                                <button class="btn btn-circle">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path strokeLinecap="round" strokeLinejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" /></svg>
                                </button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>

    

    <div class="btm-nav"  x-bind:class="{'hidden': !isLoggedIn}">
        <button class="hover:active">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M21.75 17.25v-.228a4.5 4.5 0 0 0-.12-1.03l-2.268-9.64a3.375 3.375 0 0 0-3.285-2.602H7.923a3.375 3.375 0 0 0-3.285 2.602l-2.268 9.64a4.5 4.5 0 0 0-.12 1.03v.228m19.5 0a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3m19.5 0a3 3 0 0 0-3-3H5.25a3 3 0 0 0-3 3m16.5 0h.008v.008h-.008v-.008Zm-3 0h.008v.008h-.008v-.008Z" /></svg>
          <span class="btm-nav-label">New Node</span>
        </button>
        <button class="hover:active">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" /></svg>
          <span class="btm-nav-label">New User</span>
        </button>
    </div>


    <script>
        function loginComponent() {
            return {
                username: '',
                password: '',
                isLoggedIn: false,
                nodes: [],
                templates: [],
                users:[],
                async login() {
                    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                    const loginResponse = await fetch('/api-auth/login/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'X-CSRFToken': csrfToken,
                        },
                        body: new URLSearchParams({
                            'username': this.username,
                            'password': this.password
                        }),
                        credentials: 'include'
                    });

                    if (loginResponse.ok) {
                        this.isLoggedIn = true;
                        this.fetchNodes();
                        this.fetchTemplates();
                        this.fetchUsers();
                    } else {
                        alert('Login failed!');
                    }
                },
                async fetchNodes() {
                    const response = await fetch('/api/nodes/', {
                        method: 'GET',
                        credentials: 'include'
                    });

                    if (response.ok) {
                        this.nodes = await response.json();
                    } else {
                        alert('Failed to fetch nodes!');
                    }
                },
                async fetchUsers() {
                    const response = await fetch('/api/users/', {
                        method: 'GET',
                        credentials: 'include'
                    });

                    if (response.ok) {
                        this.users = await response.json();
                    } else {
                        alert('Failed to fetch nodes!');
                    }
                },
                async fetchTemplates() {
                    const response = await fetch('/api/templates/', {
                        method: 'GET',
                        credentials: 'include'
                    });

                    if (response.ok) {
                        this.templates = await response.json();
                    } else {
                        alert('Failed to fetch nodes!');
                    }
                }

            }
        }
    </script>
</body>
</html>
